* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.logo{ 
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

.navbar {
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 10;
} 
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li {
    margin-left: 30px;
}

.navbar ul li a {
    color: #fff;
}
.nav ul .active {
    display: none;
}
.navbar .nav-contact {
    background-color: #fff;
    color: #111;
    padding: 15px 25px;
    font-size: 0.98rem;
    border-radius: 30px;
}

.navbar .nav-contact:hover {
    background-color: #82c7d8;
    color: #ffffff;
}

#nav-btn {
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
}
.hero .arrow{
    width: 2%;
    position: absolute;
    top: 325px!important;
    left: 49%;
    z-index: 20;
}

.hero h3 {
    position: absolute;
    top: 185px;
    left: 28%;
    z-index: 20;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: #fff;
    font-family: 'Fraunches', serif;
}

.transform  {
    margin-top: 0;
    margin-bottom: 0;
}

.transform p {
    width: 50%;
    align-items: center;
    color: hsl(200, 1%, 51%);
    margin-bottom: 30px;
    font-weight: bold;
}
.transform h3 {
    margin-top: 0;
    align-self: center;
}

.transform .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.transform img {
    height: 500px;
    width: 100%;
    margin-top: 0;
}

.transform .item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transform h3 {
    font-size: 2.1rem;
    margin-bottom: 30px;
}

.transform a {
    border-bottom: 6px solid hsl(51, 100%, 49%);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #111;
    text-transform: uppercase;
    font-weight: bold;
    background-color: none;
    cursor: pointer;
 }
.stand .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.stand img {
    height: 500px;
    width: 100%;
}

.stand p {
    width: 50%;
    margin-bottom: 30px;
    color: hsl(200, 1%, 51%);
    font-weight: bold;
}
.stand h3 {
    font-size: 2.1rem;
    margin-bottom: 30px;
    align-items: center;
}
.stand .item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.stand a {
   border-bottom: 6px solid hsl(7, 99%, 70%);
   font-weight: bold;
   text-transform: uppercase;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   color: #111;
   cursor: pointer;
}
.graphic .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.graphic img {
    height: 500px;
    width: 100%;
}

.graphic .item-1 {
    position: relative;
}
.graphic .item-1 h5 {
    position: absolute;
    top: 65%;
    left: 40%;
    width: 50%;
    color: hsl(167, 40%, 24%);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.graphic .item-1 p {
    position: absolute;
    top: 72%;
    left: 25%;
    width: 50%;
    text-align: center;
    color: hsl(167, 40%, 24%);
    font-weight: bold;
}

.graphic .item-2 {
    position: relative;
}
.graphic .item-2 h5 {
    position: absolute;
    top: 65%;
    left: 40%;
    width: 50%;
    color: hsl(198, 62%, 26%);
    font-size: 1.2rem;
    font-weight: bold;
}
.graphic .item-2 p {
    position: absolute;
    top: 72%;
    left: 25%;
    width: 50%;
    text-align: center;
    color: hsl(198, 62%, 26%);
    font-weight: bold;
}

.testimonials {
    min-height: 400px;
    padding: 100px 0;
}

.testimonials h6 {
    font-size: 1.05rem;
    letter-spacing: 0.4rem;
    color: grey;
    text-align: center;
}

.testimonials .grid-container {
    padding: 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.testimonials .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonials .grid-container .card-1 {
    padding: 0 20px;
    width: 70%;
}
.testimonials .grid-container .card-2 {
    padding: 0 20px;
    width: 70%;
}
.testimonials .grid-container .card-3 {
    padding: 0 20px;
    width: 70%;
}

.testimonials img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.testimonials p {
    text-align: center;
    margin-bottom: 40px;
    color: #2e2d2d;
    font-weight: 600;
}

.testimonials h4 {
    margin-bottom: 20px;
}
.testimonials small {
    color: grey;
    font-weight: 600;
}

.gallery .grid-container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    overflow: hidden;
}

.gallery img {
    height: 400px;
}

.footer {
    min-height: 400px;
    padding: 30px 0;
    background-color: hsl(168, 44%, 65%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    color: hsl(168, 33%, 36%);
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.footer .footer-link {
    display: flex;
}

.footer-link a {
    color:hsl(167, 27%, 45%);
    font-weight: 600;
}
.footer-link a:hover {
    color: #fff;
}

.footer .footer-link a.link {
    margin-left: 50px;
    margin-bottom: 60px;
}

.social-icons {
    margin-bottom: 30px;
    display: flex;
}
.social-icons i{
    font-size: 1.3rem;
    color: hsl(163, 19%, 26%);

}
.social-icons i#icon {
    margin-left: 30px;
}
.social-icons i:hover {  
    cursor: pointer;
    color: #fff;
}
.social-icons .social:hover {
    cursor: pointer;
}

.footer .attribution {
    font-size: 1.1rem;
}

@media screen and (min-width: 1290px) {
    .gallery img {
    width: 100%;
    }
}

@media screen and (max-width: 1000px){
    .hero h3 {
        top: 185px;
        left: 25%;
        font-size: 2.5rem;
    }
}
/* Tablet */
@media screen and (max-width: 800px) {
    .hero h3 {
        top: 165px;
        left: 20%;
        font-size: 2.2rem;
    }
    .hero img.header-img{
        height: 500px;
    }
    .hero .arrow {
        top: 235px!important;
        height: 60px;
    }
    .navbar .nav-contact {
        background-color: #fff;
        color: #111;
        padding: 10px 20px;
        font-size: 0.8rem;
        border-radius: 25px;
    }
    .transform img {
        height: 400px;
    }
    .transform h3 {
        font-size: 1.8rem;
    }
    .transform p {
        font-size: 0.85rem;
    }
    .transform a {
        font-size: 0.85rem;
    }
    .stand img {
        height: 400px;
    }
    .stand h3 {
        font-size: 1.7rem;
        margin-left: 60px;
    }
    .stand p {
        font-size: 0.85rem;
    }
    .stand a {
        font-size: 0.85rem;
    }
    .graphic img {
        height: 400px;
    }
    .graphic .item-1 h5 {
        font-size: 0.9rem;
        margin-bottom: 30px;
    }
    .graphic .item-1 p {
        font-size: 0.8rem;
    }
    .graphic .item-2 h5 {
        font-size: 0.9rem;
        margin-bottom: 30px;
    }
    .graphic .item-2 p {
        font-size: 0.8rem;
    }
    .testimonials {
        min-height: 300px;
        padding: 50px 0;
    }
    .testimonials h6 {
        font-size: 1.0rem;
        letter-spacing: 0.3rem;
    }
    .testimonials .grid-container {
        padding: 30px;
    }
    .testimonials .grid-container .card-1 {
        padding: 0 10px;
        width: 80%;
    }
    .testimonials .grid-container .card-2 {
        padding: 0 10px;
        width: 80%;
    }
    .testimonials .grid-container .card-3 {
        padding: 0 10px;
        width: 80%;
    }
    .testimonials img {
        height: 50px;
        width: 50px;
    }
    
    .testimonials p {
        font-size: 0.9rem;
    }
    
    .testimonials h4 {
        font-size: 0.9rem;
    }
    .testimonials small {
        font-size: 0.9rem;
    }
    .gallery .grid-container {
        grid-template-columns: repeat(2, 50%);
    }
    .gallery img {
        width: 100%;
        height: 350px;
    }
}
/* Mobile  */
@media screen and (max-width: 600px) {
    * {font-size: 1.1rem;}
    .navbar {
        z-index: 100;
    }
    .navbar ul {
        display: none;
    }
    #nav-btn {
        display: initial;
    }
    .navbar ul.active {
        background-color: #fff;
        padding: 30px 60px 90px 60px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 30px;
    } 
    .navbar ul li a {
        color: grey;
    }
    .navbar ul li {
        margin-left: 0;
        margin-bottom: 30px;
    }
    .navbar .nav-contact {
        background-color: hsl(51, 100%, 49%);
        margin-bottom: 0;
    }
    .hero h3 {
        text-align: center;
        top: 120px;
        left: 5%;
    }
    .hero .arrow {
        width: 3%;
    }
    .transform .grid-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .transform .grid-container .item-1 {
        height: 400px;
    }
    .transform p{
        width: 80%;
    }
    .stand .grid-container {
        grid-template-columns: 1fr;
    }
    .stand p{
        width: 80%;
    }
    .stand .grid-container .item-2 {
        height: 400px;
    }
    .graphic .grid-container {
        grid-template-columns: 1fr;
    }
    .testimonials .grid-container {
        grid-template-columns: 1fr;
    }
    .testimonials .grid-container .card-1 {
        margin-bottom: 50px;
    }
    .testimonials .grid-container .card-2 {
       margin-bottom: 50px;
    }
    .testimonials .grid-container .card-3 {
        margin-bottom: 50px;
    }
    .gallery img {
        height: 250px;
    }
    .footer {
        min-height: 250px;
        display: flex;
    }
    .footer-logo {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .footer .attribution {
        padding: 0 50px;
    }
}